<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Welcome Home</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">You have logged in successfully</p>
    </div>
    <form id="my_data_form" method="post">
        <div class="form-group">
            <label for="car_brand">What is your favourite car brand?</label>
            <input type="text" name="car_brand" class="form-control" id="car_brand" placeholder="Ex. Nissan">
        </div>
        <div class="form-group">
            <label for="drink">What is your favourite drink?</label>
            <input type="text" name="drink" class="form-control" id="drink" placeholder="Ex. Orange Juice">
        </div>
        <div class="form-group">
            <label for="tv_show">What is your favourite tv programme?</label>
            <input type="text" name="tv_show" class="form-control" id="tv_show" placeholder="Ex. Api Raja Ibbo">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div id="informationModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="form_response"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/scripts.js"></script>
</body>
</html>